{% extends 'news-detail.html' %} {% load static %} {% block body %}
<script></script>
<style>
  .cover-img {
    background-image: url({%static "images/images.jpg"%});
    background-color: #cccccc;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
</style>
<div class="cover-img"></div>
<section
  id="news-detail"
  data-stellar-background-ratio="0.5"
  style="background-color: #e4eeed"
>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-7">
        <!-- NEWS THUMB -->
        <div class="news-detail-thumb">
          <h4>Be Your Own Doctor !</h4>
          <p>
            It could have happened so often that you or somebody yours need
            specialist's assistance right away, yet they are not accessible
            because of some reasons.The Sickness Expectation framework is an end
            client support and online interview project. Here, we propose a web
            application that permit clients to help moment direction on their
            sickness through an insightful framework. The application is taken
            care of with different subtleties and the infection related with
            those details.The application permits client to share their sickness
            related issues.It then, at that point, processes client explicit
            subtleties to check for different ailment that could be related with
            it.Here we utilize a few canny information mining procedures to
            figure the most dependable disease that could be related with
            patient's subtleties. In light of result, patient can contact
            specialist as needs be for additional treatment.
          </p>
          <img
            src="{% static 'images/homie.gif' %}"
            class="img-responsive"
            alt=""
          />
        </div>
      </div>

      <div class="col-md-4 col-sm-5">
        <div class="news-sidebar">
          <div class="news-author">
            <h4>About My Project</h4>
            <p>
              Disease Prediction based on symptoms provided by patient with face
              Authentication Login System.
            </p>
          </div>

          <div class="recent-post">
            <h4>Using Library of Python</h4>

            <div class="media">
              <div class="media-object pull-left">
                <a href="https://numpy.org/"
                  ><img
                    src="{% static 'images/face2.png' %}"
                    class="img-responsive"
                    alt=""
                /></a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">
                  <a href="https://numpy.org/"
                    >Numpy process Numerical Value Like Array</a
                  >
                </h4>
              </div>
            </div>

            <div class="media">
              <div class="media-object pull-left">
                <a href="https://opencv.org/"
                  ><img
                    src="{% static 'images/face3.png' %}"
                    class="img-responsive"
                    alt=""
                /></a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">
                  <a href="https://opencv.org/">Using Opencv for CV2</a>
                </h4>
              </div>
            </div>
          </div>

          <div class="news-ads sidebar-ads">
            <h4>Sidebar Banner Ad</h4>
          </div>

          <div class="news-tags">
            <h4>Tags</h4>
            <li><a href="https://github.com/vivekagarwal2349/">Github</a></li>
            <li><a href="https://www.djangoproject.com/">Django</a></li>
            <li><a href="https://www.ibm.com/in-en/topics/computer-vision#:~:text=Computer%20vision%20is%20a%20field,recommendations%20based%20on%20that%20information.">Computer Vision</a></li>
            <li><a href="https://www.ibm.com/in-en/cloud/learn/machine-learning#:~:text=Machine%20learning%20is%20a%20branch,rich%20history%20with%20machine%20learning.">Machine Learning</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Facial_recognition_system">Face Recognition</a></li>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
